.footer {
  background-color: #0e0e0e;
  padding: 12px;
  margin-top: 10px;
  padding: 56px 80px 104px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footer-container {
    max-width: 558px;
  }
}
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    width: 147px;
    height: 60px;
    object-fit: contain;
  }
}

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  .menu-foot {
    display: flex;
  }
  .menu-foot a {
    color: white;
    font-size: 16px;
    padding-left: 45px;
    text-decoration: none;
  }
}
.footer-text {
  color: white;
  text-align: center;
  margin: 30px auto;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}
.social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  .social-icon {
    color: white;
    font-size: 28px;
  }
}
