*{
  margin: 0;
}

.car-card {
  background-color: #fdfdfd;
  border-radius: 12px;
  padding: 18px;
  width: 305px;
  height: 423px;
  text-align: center;
  border: 1px solid #dfdfdf;

  .car-img {
    width: 100%;
    height: 188px;
    border-radius: 12px;
    object-fit: contain;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 4px;
  }
}

.price-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;

  .price-boxs {
    border: 1px solid #f24422;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 2px 6px;
    width: 85px;
    height: 53px;
    justify-content: center;
    align-items: center;
  }
  .price-boxs p ,strong{
    margin: 0;
  }
}

.order-button {
  margin-top: 20px;
  width: 100%;
  height: 44px;
  border-radius: 12px;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  text-align: left;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
}
.car-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 40px 80px;
  justify-items: center;

  @media (max-width: 1350px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media ( max-width: 1030px){
    grid-template-columns: repeat(2 , 1fr);
  }
  @media( max-width: 715px){
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 18px;
  }
}
.gradient-bg {
    background: linear-gradient(to right, #f24422, #bf0909);
}

