.tabs {
  display: flex;
  gap: 12px;
  margin-top: 80px;
  padding: 0 80px;

  button {
    //     max-height: 36px;
    //     padding: 5px 16px;
    //     border-radius: 8px;
    //     border: 1px solid #f24422;
    //     font-family: DM Sans;
    //     font-size: 16px;
    //     font-weight: 400;
    //     background-color: white;
    //   }
    display: flex;
    height: 35px;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--gray, #dfdfdf);
    background-color: white;
  }
  .active {
    font-weight: 500;
    color: #f24422;
  }
}
.car-page {
  max-width: 1440px;
  margin: 0 auto;
}
